@media (max-width: 768px) {

    .sidebar {
        transform: translate(-250px, 0);
    }

    .active-header {
        transform: translate(0, 0);
    }

    .about {
        &__header {
            grid-template-columns: 1fr;
        }

        &__title {
            font-size: 32px;
        }
    }

    .portfolio {
        margin-left: 0;
    }

    .technologies {
        grid-template-columns: repeat(auto-fill, 100px);
    }

    .project {
        grid-auto-rows: 1fr;

        &__item {
            grid-template: 200px auto auto / 1fr;
            grid-template-areas: "thumbnail""description""btn";
        }
    }
}
