@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;900&display=swap');

@import 'variables';
@import 'general';
@import 'sidebar';
@import 'portfolio';
@import 'responsive';

/*
.animation {
    transition: transform 2s,
        opacity 4s;
    transform: translate(-100vw, 0);
    opacity: 0;
}
*/